In [1]:
%matplotlib notebook

# Bike Trippin

For this assignment, you will be taking "Cycle Share" data from Seattle and creating charts to determine which gender borrows and uses bikes more often.

* Import your dependencies and then import your data into a pandas data frame from the CSV within the 'Data' folder
* Check for null or NaN values and remove them
* Split up your data into groups based upon the gender column
    * NOTE: There will be a garbage row with a gender of 'stoptime' which you will have to remove!
* Chart your data using a bar graph, giving it both a title and labels for the axes

In [2]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [10]:
# Import our data into pandas from CSV
df = pd.read_csv("Resources/trip.csv", low_memory=False)
df.head()

,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960
1,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970
2,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988
3,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977
4,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971

In [11]:
# Get the last 5 rows 
df.tail(5)

,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
286853,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286854,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286857,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [12]:
# Check for null or NaNs.
df.isnull().count()

stoptime             286858
bikeid               286858
tripduration         286858
from_station_name    286858
to_station_name      286858
from_station_id      286858
to_station_id        286858
usertype             286858
gender               286858
birthyear            286858
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286858 entries, 0 to 286857
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   stoptime           286858 non-null  object
 1   bikeid             286858 non-null  object
 2   tripduration       286858 non-null  float64
 3   from_station_name  286858 non-null  object
 4   to_station_name    286858 non-null  object
 5   from_station_id    286858 non-null  object
 6   to_station_id      286858 non-null  object
 7   usertype           286858 non-null  object
 8   gender             181558 non-null  object
 9   birthyear          181554 non-null  object
dtypes: float64(1), object(9)
memory usage: 21.9+ MB

In [13]:
# Create a clean DataFrame after dropping the null values.
new_df = df.dropna(how='any')

In [14]:
# Check for null values again.
new_df.isnull().count()

stoptime             181554
bikeid               181554
tripduration         181554
from_station_name    181554
to_station_name      181554
from_station_id      181554
to_station_id        181554
usertype             181554
gender               181554
birthyear            181554
dtype: int64

In [22]:
# Split up our data into groups based upon 'gender'
gender = new_df.groupby('gender')
# Find out how many of each gender took bike trips
gender_trip = gender['tripduration'].count()

In [16]:
gender.head()

,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960
1,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970
2,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988
3,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977
4,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971
5,10/13/2014 10:47,SEA00337,808.805,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1974
6,10/13/2014 11:45,SEA00202,596.715,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Male,1978
8,10/13/2014 11:45,SEA00486,586.347,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1974
10,10/13/2014 11:45,SEA00195,564.899,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1983
15,10/13/2014 11:47,SEA00106,618.781,Occidental Park / Occidental Ave S & S Washing...,King Street Station Plaza / 2nd Ave Extension ...,PS-04,PS-05,Member,Female,1958
56,10/13/2014 12:39,SEA00214,2684.590,E Harrison St & Broadway Ave E,Cal Anderson Park / 11th Ave & Pine St,CH-02,CH-08,Member,Other,1981
58,10/13/2014 12:39,SEA00104,2444.973,E Harrison St & Broadway Ave E,Cal Anderson Park / 11th Ave & Pine St,CH-02,CH-08,Member,Other,1967
136,10/13/2014 13:56,SEA00335,457.588,Cal Anderson Park / 11th Ave & Pine St,12th Ave & E Mercer St,CH-08,CH-15,Member,Other,1967
146,10/13/2014 14:12,SEA00130,362.646,E Pine St & 16th Ave,Harvard Ave & E Pine St,CH-07,CH-09,Member,Other,1992
168,10/13/2014 14:29,SEA00475,328.193,Harvard Ave & E Pine St,REI / Yale Ave N & John St,CH-09,SLU-01,Member,Other,1992
50792,4/17/2015 19:21,SEA00362,17990.668,6th Ave S & S King St,Westlake Ave & 6th Ave,ID-04,"SLU-15trip_id""",starttime,stoptime,bikeid

In [23]:
# Drop the 'stoptime' row that is contained within our group
nostop = gender_trip.drop(gender, index[3])
# Chart our data, give it a title, and label the axes
nostop.plot(kind='pie',autopct = '%1.1f%')

NameError: name 'index' is not defined

# Bonus!

You will now take the same base data frame before and create some code that will allow you to create individual pie charts for each bike. For this part of the activity, we want you to chart the total 'Trip Duration' of each bike, sorted by gender. Bonus points if you can come up with a method to do this without using loc or iloc to filter the original data frame! You can use loc to filter group data though.

In [ ]:
# Group our data based upon 'bikeid' and 'gender'


# Create a new variable that holds the sum of our groups

In [ ]:
# Make a variable called bike_id and store a 'bikeid' in it


# Collect the trips of the 'bikeid' above

In [ ]:
# Create a pie chart based upon the trip duration of that single bike